[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
argdantic = "*"
ratelimiter = "*"
zstandard = "*"

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
ruff = "*"
boto3-stubs = "*"
pytest = "*"

[requires]
python_version = "3.8"
